body{
  background-color:#495759;
  h1{text-align: center;
    margin-bottom: 1.5vmin;
  color:#fff;
text-transform: uppercase;}
#reset{
  position: relative;
  left:50%;
  transform: translateX(-50%);

  margin-bottom: 2vmin;
  text-transform: uppercase;
}

}
#container{
  position: absolute;
  background-color:  #fff;
  border: 25px solid blue;
  height: 80vmin;
  width: 100vmin;
  left:50%;
  transform: translateX(-50%);
  #life{
  margin-left: 93vmin;

  }
  .life{
    text-align: center;
    color: #fff;
  margin-left: 90vmin;
  background-color:#495759;
  width: 7vmin;
  text-transform: uppercase;
  }

#ball {

     width: 25px;
     height: 25px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius: 25px;
    margin-bottom: 5vmin;
    margin-left: 1vmin;
     background: red;
   }
#obstacle1{
  width: 80vmin;
  height: 3vmin;
  background-color:#0000ff;
}
#obstacle2{
  margin-left: 77vmin;
  margin-bottom: 5vmin;
  width: 3vmin;
  height: 50vmin;
  background-color:#0000ff;

}
#obstacle3{
  width: 55vmin;
  height: 3vmin;
  margin-top: -5vmin;
  margin-left: 25vmin;
  background-color:#0000ff;

}
#obstacle4{
  width: 3vmin;
  height: 25vmin;
  margin-top: -25vmin;
  margin-left: 25vmin;
  background-color:#0000ff;
}
#obstacle5{
  width: 35vmin;
  height: 3vmin;
  margin-top: -25vmin;
  margin-left: 25vmin;
  background-color:#0000ff;

}
#obstacle6{
  width: 3vmin;
  height: 30vmin;
  margin-top: -22vmin;
  margin-left: 60vmin;
  background-color:#0000ff;
}
#obstacle7{
  width: 23vmin;
  height: 23vmin;
  margin-top: -42vmin;
  margin-left: 30vmin;
  background-color:#0000ff;
}
#obstacle8{
  margin-left: 10vmin;
  margin-top: -12vmin;
  width: 3vmin;
  height: 50vmin;
  background-color:#0000ff;

}
#obstacle9{
  width: 15vmin;
  height: 3vmin;
  margin-top: -15vmin;
  margin-left: 12vmin;
  background-color:#0000ff;
}
#Home{
  width: 15vmin;
  height: 15vmin;
  margin-top: -13vmin;
  margin-left: 30vmin;
  color:#fff;
  text-align: center;
  line-height: 15vmin;
  background-color: red;
}


 }
